<!-- Sidebar -->
<section id="sidebar">

  <!-- Intro -->
  <section id="intro">
    {{ $pic := .Site.Params.intro.pic }}
    {{ with $pic.src }}
      {{ if $pic.circle }}
        <a href='{{"/" | relURL}}'><img src="{{ . | relURL }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
      {{ else if $pic.imperfect }}
        <a href='{{"/" | relURL}}' class="logo"><img src="{{ . | relURL }}" alt="{{ $pic.alt }}" /></a>
      {{ else }}
        <a href='{{"/" | relURL}}'><img src="{{ . | relURL }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.intro }}
      <header>
        <h2>{{ .header }}</h2>
        <p>{{ .paragraph | safeHTML }}</p>
      </header>
    {{ end }}
    {{ if .Site.Params.socialAppearAtTop }}
      <ul class="icons">
        {{ if .Site.Params.rssAppearAtTop }}
          {{ partial "rss-icon" . }}
        {{ end }}
        {{ partial "social" . }}
      </ul>
    {{ end }}
  </section>

  <!-- Posts List -->
  <section class="recent-posts">
    <div class="mini-posts">
      <header>
        <h3>Upcoming Workshop</h3>
      </header>
      <div class="posts-container">
          <article class="mini-post">
            <header>
              
              <h3>
                <a href="https://algorit.ma/ds-course/hr-industry/?utm_source=algotech"><img src="/img/2021/ads/ks-hr.png", alt="Building Tools for the HR Industry",  width="270" height="340">More details</a>
              </h3>
              
              <h3>
                <a href="https://algorit.ma/ds-course/dss-trading/?utm_source=algotech"><img src="/img/2021/ads/dss_okt.png", alt="Building Algorithmic Trading Dashboard",  width="270" height="340">More details</a>
              </h3>
              
              <h3>
                <a href="https://algorit.ma/dds-oil-gas/?utm_source=algotech"><img src="/img/2021/ads/dds-oilgas.png", alt="DDS: Secrets to a Successful Analytics Project in the Oil and Gas Industry",  width="270" height="340">More details</a>
              </h3>
            </header>
          </article>
      </div>

      {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
      {{ end }}
    </div>
  </section>

  <!-- This if statement only applies if someone goes to the /categories url -->
  <!-- Otherwise this section is shown for all other links -->
  {{ if .Site.Params.showSidebarCategories  }}
  {{ if ne ($.Scratch.Get "showCategories") false }}
  <!-- Categories List -->
    <section id="categories">
      <header>
        <h3>
          <a href="/categories/">Categories</a>
        </h3>
      </header>
        {{ if .Site.Params.categoriesByCount }}
          {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
        {{ else }}
          {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
        {{ end }}

        {{ range $key, $value := $.Scratch.Get "categories" }}
        <p>
          <article>
            <header>
              {{ if ne $value.Name "" }}
                <a href="/categories/{{ $value.Name | urlize }}/">{{ $value.Name }}</a>
                <span style="float:right;">{{ $value.Count }}</span>
              {{ else }}
                Uncategorized
                <span style="float:right;">{{ $value.Count }}</span>
              {{ end }}
            </header>
          </article>
        </p>
        {{ end }}
    </section>
  {{ end }}
  {{ end }}

  <!-- About -->
  {{ with .Site.Params.intro.about }}
    <section id="mini-bio">
      <h3>About</h3>
      <p>{{ . | safeHTML }}</p>
      <a href="/about/" class="button">Learn More</a>
    </section>
  {{ end }}

  <!-- Footer -->
  <section id="footer">
    <p class="copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        &copy; {{ .Site.LastChange.Year }}
        {{if isset .Site.Params "author" }}
          {{ .Site.Params.author}}
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      {{end}}.
      Powered by <a href="//gohugo.io" target="_blank">Hugo</a>
    </p>
  </section>
</section>
